{% extends "base.html" %}

{% block title %}
    Meter List - Metroscope
{% endblock title %}

{% block page_content %}
<a href="{{ url_for('main.home') }}">Back to home page</a>
{% if meters == [] %}
    <h1>Sorry, no meters in the database!</h1>
    <p>Click <a href="{{ url_for('poetry.add_samples') }}">here</a> to load some samples!</p>
{% else %}
    <h1>Choose a meter from the list below:</h1>
    {% for meter in meters %}
        <li><a href="{{ url_for('poetry.meter', keyword=meter.pattern) }}">{{meter.name}}</a></li>
    {% endfor %}
{% endif %}
{% endblock page_content %}
