{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ title }} - Metroscope
{% endblock title %}

{% block page_content %}
<a href="{{ url_for('poetry.meter_list') }}">
    <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Available Meters
</a>
<h1>{{ meter.name }}</h1>
<br>
<b>Number of Beats: </b>
{{ meter.pattern|length }}
<p>
<br>
<p>
{%- for beat in meter.pattern -%}
    {%- if beat == '1' -%}
        <strong>DUM </strong>
    {%- else -%}
        ba
    {%- endif -%}
{%- endfor -%}
</p>
<br>
{% if current_user.can(Permission.ADD_METER) %}
    {{ wtf.quick_form(form) }}
    <br>
{% endif %}
<b>Used in these Poems:</b>
{% if poems == [] %}
    <p>None of the available poems use this meter.</p>
{% else %}
    {% for poem in poems %}
        <li><a href="{{ url_for('poetry.poem', keyword=poem.keyword) }}">{{poem.title}}</a></li>
    {% endfor %}
{% endif %}
{% endblock page_content %}
