{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<style>
    .match {color: black;}
    .mismatch {color: red;}
    .stressed {font-weight: bold;}
    .unstressed {}
    .missing {font-size: 80%;}
    .verse-number {
        text-align: right;
        padding-right: 5;
        padding-left: 0;
    }
    .verse {
        padding-right: 0;
        padding-left: 0;
    }
    .rhyme {
        text-align: left;
        padding-right: 0;
        padding-left: 5;
    }
    .stanza-separator {
        text-align: center;
    }
</style>
{% endblock %}


{% block title %}
{{ title }} - Metroscope
{% endblock title %}

{% block page_content %}
<div class='container'>
    <div class="row">
        <div class="verse col-xs-offset-1 col-xs-10 col-sm-6 col-md-5 col-lg-4">
            <h1>{{ title }}</h1>
            <h3 style="text-align:right">by {{ poet }}</h3>
            {% if form is none %}
            <br>
            <p>Scanned in {{ meter }}.</p>
            <br>
            {% endif %}
        </div>
    </div>
{% if form is not none %}
    <form class="form-horizontal" method="POST" role="form" action="">
        <div class='form-group'>
            <div class="verse col-xs-offset-1 col-xs-10 col-sm-6 col-md-5 col-lg-4">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.pattern, class="form-control") }}
                {{ wtf.form_field(form.submit, class="btn btn-primary btn-block") }}
            </div>
        </div>
    </form>
{% endif %}

{% for lines, rhymes in stanzas %}
{% set stanza_loop = loop %}
    {% for line in lines %}
    <div class="row">
        <div class="verse-number col-xs-1">
            <small class="text-muted">
        {%- if stanza_loop.length == 1 %}
            {{ loop.index }}
        {% else %}
            {{ stanza_loop.index }}.{{ loop.index }}
        {% endif %}
            </small>
        </div>
        <div class="verse col-xs-10 col-sm-6 col-md-5 col-lg-4">
    {% for word in line.words %}
        {% for syllable in word.syllables -%}
            {%- if syllable.match -%}
                {%- set match_class = 'match' -%}
            {%- else -%}
                {%- set match_class = 'mismatch' -%}
            {%- endif -%}
            {%- if syllable.stress is none -%}
                {%- set stress_class = 'missing' -%}
            {%- elif syllable.stress -%}
                {%- set stress_class = 'stressed' -%}
            {%- else -%}
                {%- set stress_class = 'unstressed' -%}
            {%- endif -%}
            <span class='{{ match_class }} {{ stress_class }}'>{{syllable.text}}</span>
        {%- endfor %}
    {% endfor %}
        {% if loop.last and not stanza_loop.last %}
            <div class="stanza-separator text-muted">
                <br>
            </div>
        {% endif %}
        </div>
        {% set rp = line.rhyming_part|string %}
        <div class="rhyme col-xs-1">
            <small class="text-muted" data-toggle='tooltip' title='{{ rp }}'>
                {{ rhymes[rp] }}
            </small>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>
{% endblock page_content %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function(){
      $("[data-toggle='tooltip']").tooltip();
    });
</script>
{% endblock scripts %}
