{% extends "base.html" %}

{% block title %}
{{ title }} - Metroscope
{% endblock title %}

{% block page_content %}
<h1>{{ title }}</h1>
<p>- by {{ poet }}, scanned in {{ meter }}.</p>
<div class='container'>
    <table>
        <thead>
            <tr>
                <th scope="col" style="text-align:center">Verse</th>
                <th scope="col"> </th>
                <th scope="col" style="text-align:center">Rhyme</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
            <tr style="border-top:hidden">
            {% if line.count %}
                <td class="text-center text-muted">
                    <small>{{ line.count }}</small>
                </td>
                <td>
                {% for word in line.matched_words %}
                    {{ word.word.stressed_HTML(word.stresses)|safe }}
                {% endfor %}
                </td>
                <td class="text-center text-muted">
                    <small data-toggle='tooltip' title='{{ line.rhyming_part }}'>{{ line.rhyme_designator }}</small>
                </td>
            {% else %}
                <td><br></td>
                <td><br></td>
                <td><br></td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock page_content %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function(){
      $("[data-toggle='tooltip']").tooltip();
    });
</script>
{% endblock scripts %}
