{% extends "base.html" %}

{% block title %}
    About Metroscope
{% endblock title %}

{% block page_content %}
        {{ contents|safe }}
    <!--
    This about page was first created on June 1st 2019 in the Philz coffee in the Mission district while my buddy Allen Tsai was buying us a couple cups of coffee.
    He told me references to Philz were a running joke in some coding circles, and I couldn't resist coding, testing, and committing a new feature from there while he stood in line.
    I finished adding this about page just as he paid for the coffee.
    I've since updated the content of the page, but this html comment immortalizes that moment.
    Thanks Allen!
    -->
{% endblock page_content %}
