# raw texts I do not have a license to share online
samples/copyrighted/

# MacOS system files
*.DS_Store

# local sqlite db file
*.sqlite

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Environments
.env
