[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8-docstrings = "*"
autopep8 = "*"

[packages]
pronouncing = "*"
flask = "*"
flask-bootstrap = "*"
gunicorn = "*"
nltk = "*"
markdown = "*"
flake8 = "*"

[requires]
python_version = "3.7"
