{% extends "base.html" %}

{% block title %}Metroscope - Manage Users{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Users and Roles</h1>
</div>

<div class="col-md-5">
    <h2>Registered Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Display Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
    {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.display_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-md-7">
    <h2>Roles</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
                <th scope="col">Admin Site</th>
                <th scope="col">Add Poems</th>
                <th scope="col">Add Meters</th>
                <th scope="col">Apply Meters</th>
            </tr>
        </thead>
        <tbody>
    {% for role in roles %}
            <tr>
                <th scope="row">{{ role.id }}</th>
                <td>{{ role.name }}</td>
                <td>{{ role.users.count() }}</td>
                <td>{{ role.has_permission(Permission.ADMIN) }}</td>
                <td>{{ role.has_permission(Permission.ADD_POEM) }}</td>
                <td>{{ role.has_permission(Permission.ADD_METER) }}</td>
                <td>{{ role.has_permission(Permission.CHANGE_METER) }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
