{% extends "base.html" %}

{% block title %}
    Index - Metroscope
{% endblock title %}

{% block page_content %}
    <h1>Metroscope</h1>
    {% if poems == [] %}
        <h2>Sorry, no poems in the database!</h2>
        <p>Click <a href="{{ url_for('reset') }}">here</a> to load some samples!</p>
    {% else %}
        <p>Choose a poem from the list below:</p>
        {% for poem in poems %}
            <li><a href="{{ url_for('poem', keyword=poem.keyword) }}">{{poem.title}}</a></li>
        {% endfor %}
    {% endif %}
{% endblock page_content %}
